{%  extends 'base.html' %} {% block content %}

<div class="container" >
    
    <div class="jumbotron title text-center" style="background-image: url(https://i.ibb.co/BPnx72s/pexels-photo-8477970.webp);">
      
      <h1 class="title">Every Batch Made From Scratch</h1>
      <p>Custom made cakes, cupcakes, cheesecake, and cinnamon rolls.</p>
      <p>Tell me your vision and allow me to make your dreams come true.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="/allproducts" role="button">Order Now &raquo;</a>
      </p>
    </div>

</div>


{% endblock %}